<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="7zip.install" version="21.7"/>
	<package id="ccleaner" version="5.91.9537"/>
	<package id="treesizefree" version="4.5.3"/>
	<package id="classic-shell" />
	<package id="vlc" version="3.0.16"/>
	<package id="dellcommandupdate" version="4.4.0"/>
	<package id="zoom" version="5.10.1.4420"/>
	<package id="open-shell" />
	<package id="qbittorrent" />
	<package id="winamp" />
</packages>