<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="zoom" version="5.10.1.4420"/>
	<package id="googlechrome" version="100.0.4896.60"/>
	<package id="python3" version="3.10.4"/>
	<package id="7zip.install" version="21.7"/>
	<package id="vlc" version="3.0.16"/>
	<package id="git.install" version="2.35.1.2"/>
	<package id="openssh" version="8.0.0.1"/>
	<package id="ccleaner" version="5.91.9537"/>
	<package id="vscode" version="1.66.0"/>
	<package id="gimp" version="2.10.30"/>
	<package id="treesizefree" version="4.5.3"/>
	<package id="dellcommandupdate" version="4.4.0"/>
	<package id="visualstudio2019community" version="16.11.11.0"/>
	<package id="7zip" />
	<package id="audacity" />
	<package id="blender" />
	<package id="chocolatey" />
	<package id="chocolatey-core.extension" />
	<package id="chocolatey-dotnetfx.extension" />
	<package id="chocolatey-misc-helpers.extension" />
	<package id="chocolatey-visualstudio.extension" />
	<package id="chocolatey-windowsupdate.extension" />
	<package id="classic-shell" />
	<package id="copyq" />
	<package id="curl" />
	<package id="discord" />
	<package id="discord.install" />
	<package id="DotNet4.5.2" />
	<package id="dotnet4.7.2" />
	<package id="dotnetfx" />
	<package id="elinks" />
	<package id="ffmpeg" />
	<package id="gimp" />
	<package id="git" />
	<package id="git.install" />
	<package id="google-drive-file-stream" />
	<package id="GoogleChrome" />
	<package id="KB2670838" />
	<package id="KB2919355" />
	<package id="KB2919442" />
	<package id="KB2999226" />
	<package id="KB3033929" />
	<package id="KB3035131" />
	<package id="lessmsi" />
	<package id="lightworks" />
	<package id="make" />
	<package id="mingw" />
	<package id="mongodb" />
	<package id="mongodb.install" />
	<package id="nodejs" />
	<package id="nodejs.install" />
	<package id="open-shell" />
	<package id="openssh" />
	<package id="paint.net" />
	<package id="php" />
	<package id="pip" />
	<package id="putty" />
	<package id="putty.portable" />
	<package id="python" />
	<package id="python3" />
	<package id="qbittorrent" />
	<package id="sql-server-express" />
	<package id="teracopy" />
	<package id="unity" />
	<package id="unity-hub" />
	<package id="UrlRewrite" />
	<package id="vcredist140" />
	<package id="vcredist2008" />
	<package id="vcredist2010" />
	<package id="vcredist2015" />
	<package id="visualstudio-installer" />
	<package id="webpicmd" />
	<package id="Wget" />
	<package id="winamp" />
	<package id="youtube-dl" />
	<package id="IIS-WebServerRole" source="windowsfeatures" />
    <package id="IIS-Security" source="windowsfeatures" />
    <package id="IIS-CommonHttpFeatures" source="windowsfeatures" />
    <package id="IIS-HttpErrors" source="windowsfeatures" />
    <package id="IIS-HttpRedirect" source="windowsfeatures" />
    <package id="IIS-Security" source="windowsfeatures" />
    <package id="IIS-ApplicationDevelopment" source="windowsfeatures" />
    <package id="IIS-RequestFiltering" source="windowsfeatures" />
    <package id="IIS-NetFxExtensibility" source="windowsfeatures" />
    <package id="IIS-NetFxExtensibility45" source="windowsfeatures" />
    <package id="IIS-HealthAndDiagnostics" source="windowsfeatures" />
    <package id="IIS-HttpLogging" source="windowsfeatures" />
    <package id="IIS-LoggingLibraries" source="windowsfeatures" />
    <package id="IIS-RequestMonitor" source="windowsfeatures" />
    <package id="IIS-HttpTracing" source="windowsfeatures" />
    <package id="IIS-URLAuthorization" source="windowsfeatures" />
    <package id="IIS-IPSecurity" source="windowsfeatures" />
    <package id="IIS-Performance" source="windowsfeatures" />
    <package id="IIS-HttpCompressionDynamic" source="windowsfeatures" />
    <package id="IIS-WebServerManagementTools" source="windowsfeatures" />
    <package id="IIS-ManagementScriptingTools" source="windowsfeatures" />
    <package id="IIS-IIS6ManagementCompatibility" source="windowsfeatures" />
    <package id="IIS-Metabase" source="windowsfeatures" />
    <package id="WAS-WindowsActivationService" source="windowsfeatures" />
    <package id="WAS-ProcessModel" source="windowsfeatures" />
    <package id="WAS-NetFxEnvironment" source="windowsfeatures" />
    <package id="WAS-ConfigurationAPI" source="windowsfeatures" />
    <package id="IIS-HostableWebCore" source="windowsfeatures" />
    <package id="WCF-HTTP-Activation" source="windowsfeatures" />
    <package id="WCF-NonHTTP-Activation" source="windowsfeatures" />
    <package id="IIS-StaticContent" source="windowsfeatures" />
    <package id="IIS-DefaultDocument" source="windowsfeatures" />
    <package id="IIS-DirectoryBrowsing" source="windowsfeatures" />
    <package id="IIS-WebDAV" source="windowsfeatures" />
    <package id="IIS-WebSockets" source="windowsfeatures" />
    <package id="IIS-ApplicationInit" source="windowsfeatures" />
    <package id="IIS-ISAPIFilter" source="windowsfeatures" />
    <package id="IIS-ISAPIExtensions" source="windowsfeatures" />
    <package id="IIS-ASPNET" source="windowsfeatures" />
    <package id="IIS-ASPNET45" source="windowsfeatures" />
    <package id="IIS-ASP" source="windowsfeatures" />
    <package id="IIS-CGI" source="windowsfeatures" />
    <package id="IIS-ServerSideIncludes" source="windowsfeatures" />
    <package id="IIS-CustomLogging" source="windowsfeatures" />
    <package id="IIS-BasicAuthentication" source="windowsfeatures" />
    <package id="IIS-HttpCompressionStatic" source="windowsfeatures" />
    <package id="IIS-ManagementConsole" source="windowsfeatures" />
    <package id="VirtualMachinePlatform" source="windowsfeatures" />
    <package id="Microsoft-Windows-Subsystem-Linux" source="windowsfeatures" />
    <package id="Microsoft-Hyper-V-All" source="windowsfeatures" />
    <package id="Microsoft-Hyper-V" source="windowsfeatures" />
    <package id="Microsoft-Hyper-V-Tools-All" source="windowsfeatures" />
    <package id="Microsoft-Hyper-V-Management-PowerShell" source="windowsfeatures" />
    <package id="Microsoft-Hyper-V-Hypervisor" source="windowsfeatures" />
    <package id="Microsoft-Hyper-V-Services" source="windowsfeatures" />
    <package id="Microsoft-Hyper-V-Management-Clients" source="windowsfeatures" />
    <package id="Containers" source="windowsfeatures" />
    <package id="Containers-HNS" source="windowsfeatures" />
    <package id="Containers-SDN" source="windowsfeatures" />
	
</packages>